*{
    margin: 0;
    padding: 0
}

body{
  min-height: 100vh;
  background-color: rgba(13, 107, 90, 0.479);
}

.navbar{
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0%;
  z-index: 999;
  background-color: rgba(182, 77, 35);
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
}

.navbar .logo a{
    color: white;
    font-size: 28px;
    text-decoration: none;
    font-weight: bold;
}

.navbar .menu{
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%,-50%);
  height: 30px;
}

.navbar .menu li{
  display: inline-block;
  position: relative;
}

.navbar .menu li ul.dropdown li{
  display: block;
}

.navbar .menu li ul.dropdown {
  width: 300%;
  background: rgba(182, 77, 35);
  position: absolute;
  border-radius: 20px;
  border: 1px solid white;
  z-index: 999;
  top: 100%;
  display: none;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
}

.navbar .menu li a:hover{
  background: white;
  color: rgba(182, 77, 35);
}

.navbar .menu li:hover ul.dropdown {
  display: block;
}

.navbar .menu li{
  list-style: none;
  display: inline-block;
}

.navbar .menu li a{
  display: block;
  margin-left: 25px;
  color: white;
  border-bottom: 8px solid transparent;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.navbar .menu li a:hover{
  border-bottom: 4px solid white;
}

h1{
  background-color:rgb(221, 185, 27);
  padding: 20px;
  text-align: center;
  color: white;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
}

footer{
  position: sticky;
  top: 100%;
  background-color: rgba(182, 77, 35);
  height: 13vh;
}

footer p{
  text-align: center;
  line-height: 13vh;
}

footer p a{
text-decoration: none;
color: white;
font-size: 24px;
font-weight: bold;
}